1 TO 5 LECT

In [1]:
10+5

15

In [2]:
10 - 5

5

In [3]:
10*5

50

In [4]:
10/5      # FLOAT VALUE COME I.E 2.0

2.0

In [5]:
10//5   # INT VALUE COME I.E 2

2

In [6]:
(10+5)-7+6

14

In [7]:
(5+5)*5

50

In [9]:
5+(5*5)

30

In [10]:
_+3    # HERE _ CONSIDER PREVIOUS CELLS VALUE I.E 30

33

In [13]:
import sys
sys.version          # TO CHECK SYSTEM VERSION

'3.12.7 | packaged by Anaconda, Inc. | (main, Oct  4 2024, 13:17:27) [MSC v.1929 64 bit (AMD64)]'

In [14]:
10 +5 
5+5      # HERE WE SEE IN OUTPUT ONLY LAST LINE OUTPUT WILL SHOW FOR THIS WE HAVE TO USE PRINT FUNCTION     
2+3

5

In [15]:
print (10+5) # remember print is function so use () bracket always 
print (5+5)  # here will get all output Beacuse we use print function 
print(2+3)   # print used for multiple output

15
10
5

In [17]:
a = 10 
b = 20 
c = (a+b)
print (c)

30

In [19]:
print(10)       # here function is passed with argument or parameter - 10,20,python is parameter
print ( 10,20)   
print("python")
print('python')
print (10,20,'python')

10
10 20
python
python
10 20 python

In [23]:
print ()                 # 1st function we dont put value its null so 1st row is empty or null
print (10,20)
print('pyhton')
print('*')  # for special character we have to use inserted comma or treat it as string

10 20
pyhton
*

In [25]:
10+5

15

In [26]:
print (_)  #  _ means previous value it takes

15

In [27]:
num1= 10
num2 = 20
add = num1 + num2
print(add)

30

In [28]:
num1= 10
num2 = 20
add = num1 + num2
print('the addition of ',num1,'and',num2, 'is=',add)

the addition of  10 and 20 is= 30